{% extends 'cnx.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="login"  >

    <form method="post" id="formConx">
        {% if app.request.query.get('_target_path') %}
            <input type="hidden" name="_target_path" value="{{ app.request.query.get('_target_path') }}" />
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="field">
            <label class="label" for="email">Email</label>
            <div class="control ">
                <input class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail"  autocomplete="email" required autofocus>
            </div>
        </div>
        <div class="field ">
            <label class="label" for="mdp">Password</label>
            <div class="control ">
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
        </div>

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}
        <div class="field">
            <button type="submit" id="login" class="button mt-5 has-text-centered has-background-success" name="boutton-valider" >Sign in</button>
        </div>
        <div class="field mt-5">
            <div class="control">
                <div class="columns">
                    <div class="column">
                        <p ><a style="color: red" href="{{ path('app_forgot_password_request') }}">Forgot password</a></p>
                    </div>
                    <div class="column">

                    </div>
                </div>

            </div>
        </div>

    </form>
</div>
{% endblock %}
