{% extends 'base.html.twig' %}
 {% block titleTwig %}Employees Lists{% endblock %}
{% block body %}

    <div class="container">
        <form action="" method="post" class="d-flex align-items-center" id="searchForm">
            <div class="input-group">
                <input type="search" class="form-control" name="email" placeholder="Recherche">
                <button class="btn btn-primary" type="button" id="searchByEmail">Rechercher</button>
            </div>
        </form>
            <script>
                document.getElementById('searchByEmail').addEventListener('click', function() {
                    document.getElementById('searchForm').action = "{{ path('app_finbyemail') }}";
                    document.getElementById('searchForm').submit();
                });
            </script>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">First name</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Phone</th>
                <th scope="col">Mail</th>
                <th scope="col">Address</th>
                <th scope="col">Job</th>
                <th scope="col">administrator</th>
                <th scope="col">Management</th>
            </tr>
            </thead>
            {% if employee is defined %}
            <tbody>
            <tr>
                <td>{{ employee.nom }}</td>
                <td>{{ employee.prenom }}</td>
                <td>{{ employee.dateNaiss | date('Y/m/d') }}</td>
                <td>{{ employee.telephone }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.adresse }}</td>
                <td>{{ employee.poste }}</td>
                <td>{{ employee.administrateur }}</td>
                <td>
                    <button type="submit"  class="button"><a href="{{ path('app_updateuser',{'id': employee.id} )}}">Update</a></button>
                    <button type="reset"  class="button"><a href="{{ path('app_deleteuser',{'id': employee.id} )}}" onclick="return confirm('Are you sure you want to delete this employee?')">Delete</a></button>
                </td>
            </tr>
            </tbody>
            {% else %}
            {% if users is defined %}
            {% for user in users %}
            <tbody>
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.dateNaiss | date('Y/m/d') }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.poste }}</td>
                <td>{{ user.administrateur }}</td>
                <td>
                    <button type="submit"  class="button"><a href="{{ path('app_updateuser',{'id': user.id} )}}">Update</a></button>
                    <button type="reset"  class="button"><a href="{{ path('app_deleteuser',{'id': user.id} )}}" onclick="return confirm('Are you sure you want to delete this employee ?')">Delete</a></button>
                </td>
            </tr>
            </tbody>
            {% endfor %}
                {% endif %}
            {% endif %}




        </table>
    </div>
{% endblock %}

{% block title %}
List users
{% endblock %}

