{% extends 'base.html.twig' %}
{% block titleTwig %} Profile {% endblock %}
{% block body %}
<div class="profileDiv" >
    <div class="container">
        <div class="row g-2">
            <div class="col-6">
                <p>First name :</p>
            </div>
            <div class="col-6">
                <p>{{ userorg.prenom}}</p>
            </div>
            <div class="col-6">
                <p>Name :</p>
            </div>
            <div class="col-6">
                <p>{{ userorg.nom }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-2">
            <div class="col-6">
                <p>Number phone :</p>
            </div>
            <div class="col-6">
                <p>{{ userorg.telephone }}</p>
            </div>
            <div class="col-6">
                <p>Date of birth :</p>
            </div>
            <div class="col-6">
                <p>{{ userorg.dateNaiss |date('Y/m/d') }}</p>
            </div>
            <div class="col-6">
                <p>Email :</p>
            </div>
            <div class="col-6">
                <p>{{ userorg.email }}</p>
            </div>
            <div class="row g-2">
                <div class="col-6">
                    <p>Address</p>
                </div>
                <div class="col-6">
                    <p>{{ userorg.adresse }}</p>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6">
                    <p>Job</p>
                </div>
                <div class="col-6">
                    <p>{{ userorg.poste }}</p>
                </div>
            </div>
        </div>
        {% if app.user.administrateur %}
            <button type="submit" style="margin-top: 15px" class="button" ><a href="{{ path('app_updateuser',{'id' : app.user.id}) }}">Modifier</a></button>
        {% endif %}
        <button type="reset" style="margin-top: 15px" class="button" ><a href="{{ path('app_m') }}">Retour</a></button>
    </div>
    {% endblock %}

    {% block title %}
    Profil
{% endblock %}